@page "/Account"

@using SuperNova.Pages 

<Account_Update account="updateAccount" RefreshParentGrid="RefreshGridAfterUpdate"/>
<SuperNova.Pages.GenericComponents.ConfirmDialog  ConfirmDialogEvent="ConfirmDeleteEvent" />

<h3>Account</h3>
<hr/>
<div class="input-group">
    <input type="text" class="form-control w-25" id="txtSearchAccount" @onkeyup="SearchForAccount" placeholder="Search by @(searchBy == "nameorcomment" ? "name or comment" : searchBy )" />
    <span class="input-group-addon">&nbsp;</span>
    <select class="btn btn-outline-dark"  @onchange="SetSearchBy">
        <option value="name">Name</option>
        <option value="comment">Comment</option>
        <option value="nameorcomment">Name or Comment</option>        
    </select>
    <span class="input-group-addon">&nbsp;</span>
    <button class="btn btn-success" @onclick="(()=>UpdateAccount(0))">+ ADD</button>
</div>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Url</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Comment</th>
            <th scope="col">Modify</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in accounts)
        {
            <tr>
                <td>@account.Name</td>
                <td><a target="_blank" rel="noopener noreferrer" href="@account.Url">Link</a></td>
                <td>@account.UserName</td>
                <td>@account.Password</td>
                <td>@account.Comment</td>
                <td>
                    <button @onclick="() => UpdateAccount(account.Id)"><i class="oi oi-pencil"></i></button>
                    <button @onclick="() => DeleteAccount(account.Id)"><i class="oi oi-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {

    Models.Account updateAccount = new Models.Account();
    List<Models.Account> accounts = new List<Models.Account>();
    List<Models.Account> allAccounts = new List<Models.Account>();
    AccountService accountService;
    private string searchText;
    public string searchBy = "name";

    protected override async Task OnInitializedAsync()
    {
        accountService = new AccountService();
        accountService.AuthorizationToken = await ProtectedSessionStore.GetAsync<Models.Login>(Constants.AUTHENTICATIONTOKEN);
        accounts = await accountService.GetAccounts();
        allAccounts = await accountService.GetAccounts();
        await JSRuntime.InvokeAsync<string>("Account.Initialize");
    }

    private async Task UpdateAccount(int id)
    {
        if(id==0)
        {
            updateAccount = new Models.Account();
            updateAccount.Id = 0;
        }
        else
        {
            updateAccount = (from account in accounts where account.Id == id select account).SingleOrDefault();
        }
        await JSRuntime.InvokeVoidAsync("Account.$UpdateDialog.show");
    }

    private async Task DeleteAccount(int id)
    {
        updateAccount.Id = id;
        await JSRuntime.InvokeVoidAsync("Generic.ShowConfirmDialog", "Confirm Delete", "Are you sure you want to Delete?");
    }

    private async Task RefreshGridAfterUpdate(bool IsSuccess)
    {
        if(IsSuccess)
        {
            accounts = await accountService.GetAccounts();
        }
    }

    private async Task SetSearchBy(ChangeEventArgs e)
    {
        searchBy = (string)e.Value;        
    }

    private async Task SearchForAccount()
    {

        var result = await JSRuntime.InvokeAsync<string>("Account.GetSearchValue");
        switch(searchBy)
        {
            case "name":
                accounts = (from a in allAccounts where a.Name.ToLower().Contains(result.ToLower()) select a).ToList();
                break;
            case "comment":
                accounts = (from a in allAccounts where a.Comment.ToLower().Contains(result.ToLower()) select a).ToList();
                break;
            case "nameorcomment":
                accounts = (from a in allAccounts where a.Name.ToLower().Contains(result.ToLower()) || a.Comment.ToLower().Contains(result.ToLower()) select a).ToList();
                break;
        }
    }

    private async Task ConfirmDeleteEvent(bool isDelete)
    {
        if (isDelete)
        {
            var isSuccess = await accountService.DeleteAccount(updateAccount.Id);
            await RefreshGridAfterUpdate(isSuccess);
            updateAccount.Id = 0;
        }
    }

}
